@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("Images/spaceBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background: white;
    padding: 20px;
}

header > h1{
    color:black;
    text-align: center;
    font-family: Asap, sans-serif;
}

.Score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 15px 20px;
    position: relative;
}

.badge{
    background: red;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap,sans-serif;
}
#user-label{
    position: absolute;
    top: 0px;
    left: 0px; 
}
#computer-label{
    position: absolute;
    top: 0px;
    right: 0px; 
}
.result{
    font-size: 40px;
    color: white;
    
}
.result > p{
    text-align: center;
    font-weight: bold;
    font-family: Asap,sans-serif;
    
}
.choices{
    background-blend-mode: color;
    margin: 50px 0;
    text-align: center;
}
.choice{
    background-blend-mode: color;
    border: 4px solid white;
    margin: 0px 20px;
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor:pointer;
    background: red;
}

#restart-button{
    position: absolute;
    left: 0;
    bottom: 0;
}

.GameOver > h1{
    text-align:center;
    color: white;

}

